



/* .Votes label {
  font-weight: bold;
  display: inline-block;
  width: 6em;
}

.Votes p {
  margin-top: 8px;
  margin-bottom: 2px;
}

.Votes__bar {
  height: 24px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.Votes__bar--chocolate {
  background-color: #4f2c2c;
}
.Votes__bar--vanilla {
  background-color: #cbc0ac;
}
.Votes__bar--strawberry {
  background-color: #de8c91;
} */